{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "endOfLine": "lf",
  "arrowParens": "always",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "embeddedLanguageFormatting": "off",
  "printWidth": 80
}